@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../fonts/glyphicons-halflings-regular.eot");
  src: url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-list:before {
  content: "\e056"; }

/*
 * Tray Commerce Reset
 */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul, li {
  list-style: none; }

html {
  font-size: 100%; }

body {
  background: #fff;
  color: blue;
  font-family: "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif; }

.outerContainer {
  max-width: 1024px;
  margin: 0 auto; }

header {
  height: 140px;
  padding: .5em;
  background-color: #546E7A;
  border-top: #FF7300 solid 0.125em;
  border-bottom: #FFF solid .125em; }
  @media (max-width: 767px) {
    header {
      height: 50px;
      padding: .25em;
      padding-top: .5em;
      border-top: #FF7300 solid 0.075em;
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  header .logoContainer {
    display: inline-block;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    float: left; }
    @media (max-width: 767px) {
      header .logoContainer {
        display: none; } }
    header .logoContainer .logo {
      max-width: 192px;
      max-height: 120px;
      display: inline-block; }
  header .searchContainer {
    display: inline-block;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    float: left; }
    @media (max-width: 767px) {
      header .searchContainer {
        display: none; } }
    header .searchContainer .search {
      padding: 2px;
      background-color: #fff;
      border-radius: 25px;
      height: 34px;
      box-sizing: border-box;
      width: 80%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      transition: all .25s linear; }
      header .searchContainer .search:hover {
        box-shadow: 0 0 0.2rem 0.2rem #FF7300; }
      header .searchContainer .search .iconAndInput {
        display: inline-block;
        background-color: none;
        border: none;
        float: left; }
      header .searchContainer .search .icon {
        color: #FF7300;
        display: inline-block;
        font-size: 20px;
        padding-right: 8px;
        padding-left: 6px;
        margin-top: 3px; }
      header .searchContainer .search .input {
        display: inline-block;
        height: 30px;
        border: none;
        font-size: 20px;
        font-style: italic;
        color: #FF7300;
        width: 9em; }
      header .searchContainer .search .button {
        font-weight: bold;
        background-color: #FF7300;
        color: #FFF;
        border: none;
        border-radius: 25px;
        height: 30px;
        padding-left: 7px;
        padding-right: 7px;
        float: right; }
      header .searchContainer .search .button:hover {
        background-color: #f06c00; }
  header .customerContainer {
    display: inline-block;
    height: 100%;
    width: 25%;
    float: left; }
    @media (max-width: 767px) {
      header .customerContainer {
        display: none; } }
    header .customerContainer nav.customerStatus {
      color: #FFF;
      float: right; }
      header .customerContainer nav.customerStatus li {
        display: inline;
        font-weight: bold; }
        header .customerContainer nav.customerStatus li a {
          color: #FFF;
          text-decoration: none;
          text-shadow: 1px 1px 1px #FF7300; }
          header .customerContainer nav.customerStatus li a:hover {
            border-bottom: #FF7300 solid 0.125em; }
    header .customerContainer .cart {
      float: right;
      clear: right;
      margin-right: 20px;
      margin-top: 10px; }
      header .customerContainer .cart .cart-art {
        position: relative; }
        header .customerContainer .cart .cart-art .image {
          width: 70px;
          height: 70px; }
        header .customerContainer .cart .cart-art .tag {
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;
          width: 20px;
          height: 20px;
          background-color: #FF7300;
          color: #FFF;
          border-radius: 4px;
          font-size: 13px;
          font-weight: bold; }
      header .customerContainer .cart .price {
        text-align: center;
        font-size: 12px;
        font-style: italic;
        font-weight: lighter;
        margin-top: 3px;
        color: #FFF; }

.searchHighlighting {
  box-shadow: 0 0 0.2rem 0.2rem #FF7300; }

.mbSearchContainer {
  display: none; }

/******** MOBILE ********/
@media (min-width: 768px) {
  .menuButton,
  .mbLogo,
  .storeTitle,
  .mbCart {
    display: none; } }
@media (max-width: 767px) {
  .menuButton,
  .centeredStoreTitle,
  .mbCart {
    display: flex; }

  .menuButton {
    color: #FFF;
    border: #FFF 2px solid;
    border-radius: 4px;
    padding: 3px;
    height: 44px;
    width: 44px;
    font-size: 32px;
    position: relative;
    top: 0px;
    margin-left: 4px; }

  .mbLogo {
    width: 23px;
    height: 43px; }

  .centeredStoreTitle .storeTitle {
    color: #FFF;
    font-size: 24px;
    margin-left: 3px;
    margin-top: 13px; }
    .centeredStoreTitle .storeTitle .i {
      color: #FF7300; }

  .mbCart {
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 4px; }
    .mbCart .image {
      width: 46px;
      height: 46px; }
    .mbCart .tag {
      position: absolute;
      right: -1px;
      top: -1px;
      text-align: center;
      width: 18px;
      height: 18px;
      background-color: #FF7300;
      color: #FFF;
      border-radius: 4px;
      font-size: 9px;
      font-weight: bold;
      line-height: 2; }

  .mbSearchContainer {
    display: block;
    background-color: #546E7A;
    padding: 10px;
    padding-bottom: 6px;
    border-bottom: #FFF solid .075em; }
    .mbSearchContainer .searchWrapper {
      width: 100%;
      background-color: #FFF;
      border-radius: 25px; }
      .mbSearchContainer .searchWrapper .glyphicon {
        margin-left: 7px;
        top: 3px;
        font-size: 18px;
        color: #FF7300;
        opacity: .7; }
      .mbSearchContainer .searchWrapper .input {
        width: calc(100% - 108px);
        height: 36px;
        color: #FF7300;
        font-style: italic;
        font-size: 15px; }
      .mbSearchContainer .searchWrapper .button {
        cursor: pointer;
        background-color: #FF7300;
        border-radius: 25px;
        padding: 6px;
        padding-right: 7px;
        padding-left: 7px;
        padding-bottom: 7px;
        margin-right: 1px;
        color: #FFF;
        position: relative;
        top: -2px; } }
/**
 * Footer
 */
.footer {
  border-top: 1px solid blue;
  margin-top: 30px;
  padding-top: 30px; }
  .footer a {
    font: 300 0.9em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
    text-transform: uppercase; }
  .footer .footer-title {
    font: bold 1.1em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
    text-transform: uppercase; }

/**
 * Address
 */
.address {
  color: #666;
  font: 300 0.9em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
  padding: 70px 0;
  text-align: center;
  text-transform: uppercase; }
  .address .address-name {
    color: blue;
    font-size: 1.3em; }

/**
 * Banners
 */
.banner {
  margin: 0 auto;
  text-align: center; }

.categoriesMenu {
  background-color: #FF7300;
  height: 41px;
  border-bottom: solid white .125rem; }
  @media (max-width: 767px) {
    .categoriesMenu {
      display: none; } }
  .categoriesMenu .menu li.menuLi ~ li.menuLi {
    border-left: solid 1px #fff; }
    .categoriesMenu .menu li.menuLi ~ li.menuLi:before {
      content: '';
      background-color: #FF7300;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 0px;
      left: -5px;
      z-index: 100000; }
    .categoriesMenu .menu li.menuLi ~ li.menuLi:after {
      content: '';
      background-color: #FF7300;
      width: 8px;
      height: 8px;
      position: absolute;
      bottom: 0;
      left: -5px;
      z-index: 100000; }
  .categoriesMenu .menu li {
    display: inline-block;
    position: relative;
    color: #fff;
    text-align: center;
    float: left; }
    .categoriesMenu .menu li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 18px;
      background-color: #FF7300;
      color: #FFF;
      padding: 8px 0;
      text-shadow: 1px 1px 1px #111;
      transition: background-color 0.4s ease-in-out;
      position: relative; }
    .categoriesMenu .menu li .menu-children {
      visibility: hidden;
      opacity: 0;
      width: 100%;
      position: absolute;
      top: 34px;
      left: 0;
      z-index: 9999;
      overflow: auto;
      background-color: #FF7300;
      font-size: 12px;
      padding: 16px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      transition: visibility 0.4s, opacity 0.4s ease-in-out; }
      .categoriesMenu .menu li .menu-children li {
        display: block;
        float: none; }
        .categoriesMenu .menu li .menu-children li a {
          border: solid #FFF 1px;
          border-radius: 4px;
          text-shadow: none;
          font-size: 14px;
          color: #FFF;
          margin-bottom: 6px;
          background-color: #eb6a00; }

.menu li:hover .menu-children {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease-in-out; }

/**
 * Brand
 */
.brand {
  display: block;
  font: bold 2em/1em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
  text-transform: uppercase;
  padding: 0 0 10px 10px;
  vertical-align: middle;
  color: #fff; }
  .brand:hover, .brand:active {
    text-decoration: none; }

/**
 * Newsletter
 */
.news {
  height: 50px;
  background-color: #FF7300;
  padding: 8px;
  position: relative; }
  .news:before {
    content: "";
    background-image: url(../img/letter.svg);
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0; }
  .news .button,
  .news .email {
    height: 34px;
    border-radius: .125rem; }
  .news .button {
    background-color: #00ae00;
    float: right;
    color: #FFF;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border: white solid 2px; }
  .news .email {
    float: right;
    margin-right: 10px;
    width: 250px;
    text-align: center;
    color: green;
    font-size: 1em;
    transition: box-shadow 0.25s linear; }
    .news .email:focus {
      box-shadow: 0 0 .125rem .125rem #00ae00; }
  .news .phrase {
    color: white;
    float: right;
    margin-right: 15px;
    font-size: 1rem;
    position: relative;
    top: 6px; }

.footerTest {
  height: 550px;
  background-color: #555; }

/**
 * Product
 */
.product {
  background-color: white;
  border: #FF7300 2px solid;
  filter: alpha(opacity=70);
  text-align: center;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  margin-bottom: 30px;
  margin: 0.5em; }
  .product:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
  .product > a {
    display: block;
    position: relative;
    text-decoration: none; }
  .product .product-image img {
    margin: 0 auto;
    width: 180px; }
  .product .product-image img[src*='loading'] {
    width: 48px; }
  .product .product-name {
    color: #333;
    width: 100%; }
    .product .product-name h3 {
      font: 400 1em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
      text-transform: uppercase;
      -ms-text-overflow: clip;
      text-overflow: clip;
      white-space: nowrap;
      overflow: hidden; }
  .product .product-price span {
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 0.8em;
    padding: 3px 17px; }

.page-product .breadcrumb {
  display: inline-block;
  text-align: left; }
.page-product .product-safe {
  text-align: right;
  margin-top: -20px; }
.page-product .product-id {
  float: right; }
.page-product .product-title {
  margin: 10px 0 0; }
.page-product .product-links {
  text-align: center; }
  .page-product .product-links > a {
    display: block;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px; }
.page-product .product-labels, .page-product .product-details {
  clear: both; }
.page-product .products-related {
  text-align: center;
  margin: 10px 0; }
  .page-product .products-related .related-title {
    text-align: left;
    margin: 0 0 10px; }
  .page-product .products-related .related-image {
    display: inline-block; }
.page-product .no-padding {
  padding: 0; }
@media screen and (max-width: 600px) {
  .page-product .product-id {
    float: none; }
  .page-product .produto-calcular-frete {
    display: none; }
  .page-product #ProdAbas {
    background: #f1f1f1; }
    .page-product #ProdAbas li, .page-product #ProdAbas .aberta {
      float: none; }
    .page-product #ProdAbas li + li {
      border-top: 1px solid #ccc; }
  .page-product #formasPagto img {
    max-width: 60px; } }

/**
 * Showcase
 */
.showcase {
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  background-attachment: fixed;
  padding-top: 30px;
  padding-bottom: 30px; }

.showcase-title {
  font: bold 1.4rem "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  padding: 2rem auto; }

/*# sourceMappingURL=theme.css.map */
