/*
 * Tray Commerce Reset
 */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

body {
  background: #fff;
  color: blue;
  font-family: "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif; }

.ci-container {
  padding: 0 5%; }

/**
 * Header
 */
.header {
  height: 140px; }
  .header .headerContent {
    background-color: #546e7a;
    height: 100%;
    border-top: #FF7300 solid 2px;
    border-bottom: #FFF solid 2px; }
    .header .headerContent .logoContainer {
      display: inline-block;
      width: 200px;
      height: 100%;
      float: left; }
      .header .headerContent .logoContainer .logoImage {
        width: 192px;
        height: 120px;
        min-width: 192px;
        min-height: 120px; }
    .header .headerContent .searchCostumer {
      width: 80%;
      height: 100%;
      float: right;
      display: inline-block; }
      .header .headerContent .searchCostumer .search {
        display: inline-block;
        height: 100%;
        width: 80%;
        float: left;
        padding-right: 15%;
        padding-left: 15%; }
      .header .headerContent .searchCostumer .customer {
        float: right;
        width: 20%;
        display: inline-block; }
        .header .headerContent .searchCostumer .customer .customer-status {
          display: inline-block;
          color: #FFF;
          margin-right: 10px; }
          .header .headerContent .searchCostumer .customer .customer-status nav {
            margin-top: 5px;
            margin-right: 10px; }
          .header .headerContent .searchCostumer .customer .customer-status li {
            display: inline;
            font-size: 16px;
            font-weight: bold; }
          .header .headerContent .searchCostumer .customer .customer-status li a {
            color: #FFF;
            text-decoration: none;
            text-shadow: 1px 1px 1px black; }
          .header .headerContent .searchCostumer .customer .customer-status li a:hover {
            border-bottom: #FF7300 solid 2px; }
        .header .headerContent .searchCostumer .customer .cart {
          padding-right: 25px; }
          .header .headerContent .searchCostumer .customer .cart .cart-art {
            position: relative;
            text-align: center; }
            .header .headerContent .searchCostumer .customer .cart .cart-art .image {
              width: 70px;
              height: 70px;
              margin-top: 10px; }
            .header .headerContent .searchCostumer .customer .cart .cart-art .tag {
              position: absolute;
              right: 36px;
              top: 12px;
              width: 20px;
              height: 20px;
              background-color: #FF7300;
              color: #FFF;
              border-radius: 4px;
              font-size: 13px;
              font-weight: bold; }
          .header .headerContent .searchCostumer .customer .cart .price {
            text-align: center;
            font-size: 12px;
            font-style: italic;
            font-weight: lighter;
            margin-top: 7px;
            color: #FFF;
            border-radius: 50px; }

/**
 * Footer
 */
.footer {
  border-top: 1px solid blue;
  margin-top: 30px;
  padding-top: 30px; }
  .footer a {
    font: 300 0.9em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
    text-transform: uppercase; }
  .footer .footer-title {
    font: bold 1.1em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
    text-transform: uppercase; }

/**
 * Address
 */
.address {
  color: #666;
  font: 300 0.9em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
  padding: 70px 0;
  text-align: center;
  text-transform: uppercase; }
  .address .address-name {
    color: blue;
    font-size: 1.3em; }

/**
 * Banners
 */
.banner {
  margin: 0 auto;
  text-align: center; }

.categories-menu {
  background-color: #FF7300; }
  .categories-menu .menu li.menuLi ~ li.menuLi {
    border-left: solid 1px #fff; }
  .categories-menu .menu li {
    display: inline-block;
    position: relative;
    color: #fff;
    text-align: center;
    float: left; }
    .categories-menu .menu li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 18px;
      background-color: #FF7300;
      color: #FFF;
      padding: 8px 0;
      text-shadow: 1px 1px 1px #111;
      transition: background-color 0.3s linear; }
    .categories-menu .menu li .menu-children {
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 34px;
      left: 0;
      z-index: 9999;
      overflow: auto;
      background-color: #FF7300;
      font-size: 12px;
      padding: 16px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      transition: opacity 0.4s ease-out; }
      .categories-menu .menu li .menu-children li {
        display: block;
        float: none; }
        .categories-menu .menu li .menu-children li a {
          border: solid #FFF 1px;
          border-radius: 4px;
          text-shadow: none;
          font-size: 14px;
          color: #FFF;
          margin-bottom: 6px;
          background-color: #eb6a00; }

.menu li:hover .menu-children {
  display: block;
  opacity: 1; }

/**
 * Brand
 */
.brand {
  display: block;
  font: bold 2em/1em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
  text-transform: uppercase;
  padding: 0 0 10px 10px;
  vertical-align: middle;
  color: #fff; }
  .brand:hover, .brand:active {
    text-decoration: none; }

/**
 * Newsletter
 */
.news-button {
  background: blue;
  color: #fff;
  font: 300 1em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
  text-transform: uppercase; }
  .news-button:hover {
    background: #000;
    color: #fff; }

/**
 * Product
 */
.product {
  opacity: 0.7;
  filter: alpha(opacity=70);
  text-align: center;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  margin-bottom: 30px; }
  .product:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
  .product > a {
    display: block;
    position: relative;
    text-decoration: none; }
  .product .product-image img {
    margin: 0 auto;
    width: 180px; }
  .product .product-image img[src*='loading'] {
    width: 48px; }
  .product .product-name {
    color: #333;
    width: 100%; }
    .product .product-name h3 {
      font: 400 1em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
      text-transform: uppercase;
      -ms-text-overflow: clip;
      text-overflow: clip;
      white-space: nowrap;
      overflow: hidden; }
  .product .product-price span {
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 0.8em;
    padding: 3px 17px; }

.page-product .breadcrumb {
  display: inline-block;
  text-align: left; }
.page-product .product-safe {
  text-align: right;
  margin-top: -20px; }
.page-product .product-id {
  float: right; }
.page-product .product-title {
  margin: 10px 0 0; }
.page-product .product-links {
  text-align: center; }
  .page-product .product-links > a {
    display: block;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px; }
.page-product .product-labels, .page-product .product-details {
  clear: both; }
.page-product .products-related {
  text-align: center;
  margin: 10px 0; }
  .page-product .products-related .related-title {
    text-align: left;
    margin: 0 0 10px; }
  .page-product .products-related .related-image {
    display: inline-block; }
.page-product .no-padding {
  padding: 0; }
@media screen and (max-width: 600px) {
  .page-product .product-id {
    float: none; }
  .page-product .produto-calcular-frete {
    display: none; }
  .page-product #ProdAbas {
    background: #f1f1f1; }
    .page-product #ProdAbas li, .page-product #ProdAbas .aberta {
      float: none; }
    .page-product #ProdAbas li + li {
      border-top: 1px solid #ccc; }
  .page-product #formasPagto img {
    max-width: 60px; } }

/**
 * Search
 */
.searchBar {
  padding: 2px;
  background-color: #fff;
  border-radius: 4px;
  height: 34px; }
  .searchBar .iconAndInput {
    display: inline-block;
    background-color: none;
    border: none;
    float: left; }
  .searchBar .icon {
    color: #999;
    display: inline-block;
    font-size: 20px;
    padding-right: 8px;
    float: left;
    padding-left: 6px;
    margin-top: 3px; }
  .searchBar .input {
    display: inline-block;
    height: 30px;
    border: none;
    font-size: 20px;
    font-style: italic;
    color: #FF7300; }
  .searchBar .button {
    background-color: #FF7300;
    color: #FFF;
    border: none;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    float: right; }
  .searchBar .button:hover {
    background-color: #F07108; }

/**
 * Showcase
 */
.showcase-title {
  font: bold 1.8em "Verdana", "Myriad Set Pro", " Geneva", "Helvetica", "Verdana", sans-serif;
  color: blue;
  text-align: center;
  text-transform: uppercase; }

/*# sourceMappingURL=theme.css.map */
