/**
 * Base / Settings
 */

$primary-color: #25282A;
$primary-font:  'Geneva', 'Helvetica', sans-serif;

body {
    background: #fff;
    color: $primary-color;
    font-family: $primary-font;
}

// adaptive images
img {
    height: auto;
    max-width: 100%;
}

// vertical spaces
.vspace-xs,
.vspace-sm,
.vspace-lg {
    overflow: hidden;
    margin-bottom: 5px;
}

.vspace-sm {
    margin-bottom: 10px;
}

.vspace-lg {
    margin-bottom: 20px;
}


//// BY_CONNECTION_ISLAND ////

.frame-global {
	margin: 0 auto;
	width: 975px;
    box-sizing: border-box;
    border: none;

}

.content {
    width: auto;
    height: auto;
}



//// Categories List with submenu list
.nav-top {
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: block;
}


.menu {
    margin: 0;
    padding: 0;
    vertical-align: top;
    background-color: #FF7300;
    opacity: 1;
}
.menu li {
    display: inline-block;
    position: relative;
    background-color: #FF7300;
    color: #fff;
    border: none;
}

.menu li a {
    background-color: #FF7300;
    color: #fff;
    border: none;
}


.menu-children {
    display: none;
    position: absolute;
    top: 17px;
    left: 0;
    width: 200px;
    z-index: 9999;
    padding: 10px;
    overflow: auto;
    background: #FF7300;
    color: #fff;

}


.menu li:hover .menu-children {
    display: block;
}
.category-submenu-image {
    float: left;
    margin: 0 10px 0 0;
}
.menu .menu-children li {
    display: block;
}

























