/**
 * Base / Settings
 */

$primary-color: #25282A;
$primary-font:  'Geneva', 'Helvetica', sans-serif;

body {
    background: #fff;
    color: $primary-color;
    font-family: $primary-font;
}

// adaptive images
img {
    height: auto;
    max-width: 100%;
}

// vertical spaces
.vspace-xs,
.vspace-sm,
.vspace-lg {
    overflow: hidden;
    margin-bottom: 5px;
}

.vspace-sm {
    margin-bottom: 10px;
}

.vspace-lg {
    margin-bottom: 20px;
}


//// BY_CONNECTION_ISLAND ////
.frame-center {
	margin: 0 auto;
	width: 975px;
	border: solid 5px #ccc;
    box-sizing: border-box;
}
