/**
 * Base / Settings
 */
$primary-color: #25282A;
$orange-tone: #FF7300;


$primary-font: 'Verdana', 'Myriad Set Pro',' Geneva', 'Helvetica', 'Verdana', sans-serif;

body {
    background: #fff;
    color: $primary-color;
    font-family: $primary-font;
}

// adaptive images
img {
    height: auto;
    max-width: 100%;
}

// vertical spaces
.vspace-xs,
.vspace-sm,
.vspace-lg {
    overflow: hidden;
    margin-bottom: 5px;
}

.vspace-sm {
    margin-bottom: 10px;
}

.vspace-lg {
    margin-bottom: 20px;
}


//// BY_CONNECTION_ISLAND ////
.ci-container {
    padding: 0 15%;

}

.contentForLayout-firstColor {
    background-color: rgba(255, 127, 0, 0.05);
     //#FF6D00;
}



//// Categories List with submenu list
.nav-top {
    top: 0;
}

