/**
 * Header
 */
 
.header {
		background-color: #2481D7;
        height: 140px;
        border: none;
        box-sizing: border-box;
    .header-container {
        height: 100%;
        box-sizing: border-box;    
        .logo {
        	width: 230px;
        	max-height: 100%;
        	display: inline-block;
        	margin-right: 20px;
        	padding-top: 5px;
            padding-bottom: 4px;
            padding-left: 20px;
            padding-right: 20px;
        } // logo

        .ext-container-header-search {
            display: inline-block;
            background-color: red;
            padding: 20 0px;
            .container-header-search {
                display: inline-block;
                box-sizing: border-box;
                border: none;
                padding: 3px;
                background-color: #FFF;
                border-radius: 4px;
                padding-left: 10px;


                .header-search {
                	display: inline-block;
                    border: none;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
            }
        } // search-bar


        .customer {
            color: #FFF;
        	display: inline-block;
            float: right;
            margin-right: 10px;
        }

        .customer nav {
            margin-top: 5px;
            margin-right: 10px;
        }

        .customer li {
            display: inline;
            font-size: 16px;
            font-weight: bold;
        }

        .customer li  a {
            color: #FFF;
            text-decoration: none;
        }

        .customer li  a:hover {
            border-bottom: #FF7300 solid 2px;
        }

        .shopping-cart-all {
            position: relative;

            .shopping-cart {
                width: 70px;
                height: 70px;
                margin: 0 auto;
                margin-top: 10px;
            }

            .tag-shopping-cart {
                width: 20px;
                height: 20px;
                background-color: #FF7300;
                border-radius: 3px;
                text-align: center;
                position: absolute;
                top: 7px;
                right: 35px;
                padding: 1px;
                font-size: 13px;
            }

            .current-price {
                text-align: center;
                font-size: 10px;
                font-style: italic;
                font-weight: lighter;
                padding-top: 5px;
            } // customer_classes
        } // shopping-cart

    } // header-container    
  
} // header
