/**
 * Search
 */
.search-bar {
	padding: 2px;
	background-color: #fff;
	border-radius: 4px;
	margin-top: 50px;

	.icon-and-input {
		display: inline-block;
		background-color: none;
		border: none;
		float: left;
	}

	.icon {
		color: #999;
		display: inline-block;
		font-size: 20px;
		padding-right: 8px;
		float: left;
		padding-left: 6px;
		margin-top: 3px;

	}

	.input {
		display: inline-block;
		height: 30px;
		border: none;
		font-size: 20px;
		font-style: italic;
		font-weight: lighter;
		color: #FF7300;

		//transition: width .35s ease-in-out;
		 
	}

	// .input:focus {
	// 	width: 120%;
	// }


	.button {
		background-color: #FF7300;
	    color: #FFF;
	    border: none;
	    border-radius: 4px;
	    height: 30px;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.button:hover {
		background-color: #F07108;
	}


}

