{% set _width  =  100/categories|length %}
<div class="outerContainer">
	<div class="outerContent">
		<nav class="categoriesMenu">
			<ul class="menu">
				{% for category in categories %}
					<li class="menu-category" style="width: {{_width}}%">
						<a class="menu-category-link" href="{{ category.link }}">{{ category.name }}</a>
							{% set children = category.children %}
							{% if children %}
								<ul class="menu-children">
									{% for child in children %}
										<li>
											<a class="product-item waves-effect" href="{{ child.link }}">{{ child.name }}</a>
										</li>
									{% endfor%}
								</ul>
							{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>
		<h1 class="menuCategories_showcaseHorizontalDivider"></h1>
	</div>
</div>


