


<ul class="productTabs">
   {% for key, tab in productTabs %}
      {% set tabsLength = productTabs|length %}
      {% set _tabWidth = 100 / tabsLength %}

      {% if tab.container_id %}
         <li  style="width: {{_tabWidth}}%" id="{{ tab.id }}" class="productTab">
            <a href="#" data-tab-container-id="{{ tab.container_id }}" data-tab-url="{{ tab.url }}">{{ tab.description }}</a>
         </li>
      {% endif %}
   {% endfor %}
</ul>

<div class="clear"></div>

<!-- <div id="descricao">
   <div class="productTab-content">
      {{ product.description ? product.description : product.description_small }}
   </div>
</div>

<div id="itensInclusos">
   <div class="productTab-content">
      {% set items = product.included_items|split(', ') %}
      <ul>
          {% for item in items %}
              <li><p>{{ item|trim }}</p></li>
          {% endfor %}
      </ul>
   </div>
</div>

<div id="coments">
  <div class="productTab-content">
      {% element 'product/comments' %}
  </div>
</div>

<div id="caracteristicas">
  <div class="productTab-content">
      {% element 'product/properties' %}
  </div>
</div> -->



