{% if products|length > 0 %}

 	<div class="products_row">
  		{% for product in products %}
    	<div class="singleProduct" style="height: 100%; width: 31%; float: left; display: inline-block; border-radius: 4px; padding: 10px; background-color: white; border: 5px solid rgb(204, 204, 204);">
      		{% element 'snippets/product' {"product": product} %}
    	</div>
    	<!-- {{ loop.index }} -->
      		{% if loop.index is divisible by(3) and products[loop.index] %}
    	
    </div>
    <div class="products_row">
      		{% endif %}
  		{% endfor %}
	</div>

{% endif %}

