%darkGreenHorizontalDividerBackground {
	background: rgba(255,255,255,1);
 	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(90,118,130,1) 38%, rgba(90,118,130,1) 63%, rgba(255,255,255,1) 100%);
 	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(38%, rgba(90,118,130,1)), color-stop(63%, rgba(90,118,130,1)), color-stop(100%, rgba(255,255,255,1)));
 	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(90,118,130,1) 38%, rgba(90,118,130,1) 63%, rgba(255,255,255,1) 100%);
 	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(90,118,130,1) 38%, rgba(90,118,130,1) 63%, rgba(255,255,255,1) 100%);
 	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(90,118,130,1) 38%, rgba(90,118,130,1) 63%, rgba(255,255,255,1) 100%);
 	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(90,118,130,1) 38%, rgba(90,118,130,1) 63%, rgba(255,255,255,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

%adaptiveImage {
	height: auto;
	max-width: 100%;
}

%imageReplacement {
	text-indent: -9999px;
	background-repeat: no-repeat;
	overflow: hidden;
	font-size: 0;
	color: transparent;
}
// using... >		@extend %imageReplacement;