// colors
$primaryColor: blue;
$orangeTone: #FF7300;
$darkGreen: #546E7A;

// fonts
$primaryFont: 'Verdana', 'Myriad Set Pro',' Geneva', 'Helvetica', 'Verdana', sans-serif;

// media queries
$mqMobile: "(min-width: 980px)";	// using... >> @media #{$mqMobile} {}