
#ProdBlock {
	// background: lighten($darkGreen, 60);
	background: white;
	margin: 30px 0;
	display: inline-block;
	border-bottom: solid #899aa9 26px;
	padding-bottom: 36px;
	margin-bottom: 0;

	p {
		border: none;
	}

	.prodBox {
		background: white;
	}

	#formasPagto {
		background: white;
	}

	br {
		display: none;
	}

	#linkPagParcelado {
		display: none;
	}

}

#loading-product-container, #loading-tab-container {
	position:absolute;
	display:none;
	background:#fff;
	opacity:1;
	margin:0;
	z-index:9999;
	width: 90%;
	height: 50%;
}

.tabs-wrapper, #ProdBlock {
	// border: solid 3px $darkGreen;
	// border-radius: 10px;
}

.tabs-wrapper {
	position: relative;
	top: -5px;
}

.tabs-wrapper ul.tabs {
	$tabsBackgroundColor: #F0F0F0;
	background-color: $tabsBackgroundColor;
	border: solid 3px #546E7A;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	border-bottom: none;
	width: 100% !important;

	.tab {
		transition: all 0.2s linear;
		&:hover {
			background-color: darken($tabsBackgroundColor, 7);
			color: white;
			font-weight: bold;
		}
		a {
			color: $orangeTone;
			letter-spacing: 0.1em;
			transition: color 0.2s linear;

			&:hover {
				color: $darkGreen;
			}
		}
	}
}

.board img {
	max-width: 100%;
}

// DESCRIÇAO GERAL
#descricao {
	background: #FFF;

	img {
		display: block;
		margin: 0 auto;
		margin-bottom: 1.5em;
		box-shadow: 0.2em 0.2em .4em #ff9945;
	}
}

// INCLUDED ITEMS
#itensInclusos {
	.board {
		p {
			border: none;
			border-left: solid 0.2em $darkerOrange;
			padding-left: 2ch;
			padding-right: 1ch;
			margin-left: 0.5em;
			margin-bottom: 0.4em;
			color: $darkerOrange;
			background-color: #f5f5f5;
			display: inline-block;
			overflow: hidden;
		}
	}
}

// FORMAS DE PAGAMENTO
.Forma2 {
	border: none;
	background: #f0f0f0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	padding: 12px;

	h3 {
		display: block;
		background: #A5A5A5;
		padding: 3px;
		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
		color: #FFF;
		letter-spacing: 0.03em;
		border-radius: 1em;
	}

	ul {
		margin-top: 0.6em;
	}

	.caixa-forma-order img,
	.caixa-forma-credit img {
		border: solid $darkGreen 0.08em;
		border-radius: 0.9em;
		background: white;
	}
}

#atualizaFormas p {
	border-bottom: none;
	display: inline-block;
	background: #e6e6e6;
	color: #546e7a;
	box-shadow: 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.3);
}









