#visualAbas.produto-imagem-abas {
	display: none;
}

#colFotos {
	background: white;
	border: solid $darkGreen 1px;
	border-radius: 10px;

	#add {
		.imgLinks {
			display: none;
		}
	}

	#foto_p {
		border: none;
	}

	.produto-zoom-detalhe {
		display: none;
	}

	#foto_a {
		padding: 10px 0;
		border-top: 1px $darkGreen solid;
		margin: 10px 0 0;
		padding-top: 10px;
		img {
			border: 1px solid $darkGreen;
			border-radius: 5px;
		}
	}
}