#visualAbas.produto-imagem-abas {
	display: none;
}

#colFotos {
	background: none;
	border: none !important;

	#add {
		.imgLinks {
			display: none;
		}
	}

	#foto_p {
		border: none;
	}

	.produto-zoom-detalhe {
		display: none;
	}

	#foto_a {
		padding: 0 10px;
		border-top: 1px $darkGreen solid;
		margin: 40px 20px;
		padding-top: 20px;
		img {
			border: 1px solid $darkGreen;
			border-radius: 5px;
		}
	}
}

.jcarousel-container-horizontal {
	padding: 0px !important;
}