.productTabs {
	margin-top: 30px;
}

.productTab {
	float: left;

   a {
      display: block;
      text-align: center;
      padding: 12px 0;
   	background: #CCC;
      cursor: pointer;
      text-transform: uppercase;
	}
}

.productTab:first-child a {
   background: #999;
}

.productTab-content {
	
	padding: 20px;
	background: #999;
   display: none;
}

.activeTab {
   display: block
}
.rem {
   display: block;
}