#visualAbas.produto-imagem-abas {
	display: none;
}

#colFotos {
	background: white;
	border: solid $darkGreen 3px;
	border-radius: 50px;

	#add {
		.imgLinks {
			display: none;
		}
	}

	#foto_p {
		border: none;
	}

	.produto-zoom-detalhe {
		display: none;
	}

	#foto_a {
		padding: 10px 0;
		border-top: 3px #FF7300 solid;
		margin: 10px 0 0;
		padding-top: 10px;
		background: rgba(137, 154, 169, 0.29);
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
		img {
			border: 2px solid rgb(255, 115, 0);
			border-radius: 15px;
		}
	}
}