/**
 * Address
 */
.address {
    color: #666;
    font: 300 0.9em $primaryFont;
    padding: 70px 0;
    text-align: center;
    text-transform: uppercase;
    
    .address-name {
        color: $primaryColor;
        font-size: 1.3em;
    }
}
