/**
 * Brand
 */
.brand {
    display: block;
    font: bold 2em/1em $primaryFont;
    text-transform: uppercase;
    padding: 0 0 10px 10px;
    vertical-align: middle;
    color: #fff;

    &:hover,
    &:active {
        text-decoration: none;
    }
}