.breadcrumb {
	background: #555;
	width: 100%;
	padding: 10px;
  border-left: solid 2px white;
  border-right: solid 2px white;


	.breadcrumb-item {
		color: $orangeTone;
		font-weight: bold;
		
		&:hover {
			border-bottom: solid #FFF 1px;
		}
	}

	.icon-breadcrumb {
		color: white;
		padding: 0 4px;
	}

	.breadcrumb-item-current {
		color: #FFF;
	}
}