.breadcrumb {
	margin-top: 6px;
	width: 100%;
	padding: 4px;

	.breadcrumb-item {
		color: $orangeTone;

      &:hover {
			text-decoration: underline;
		}

	}

	.icon-breadcrumb {
		color: #444;
		padding: 0 4px;
	}

	.breadcrumb-item-current {
		color: darken($darkGreen, 7);
		
	}
}