.breadcrumb {
	margin-top: 6px;
	width: 100%;
	padding: 4px;
  	border-left: solid 2px white;
  	border-right: solid 2px white;


	.breadcrumb-item {
		color: $orangeTone;

		a {
			text-decoration: underline;
		}
		
		&:hover {
			border-bottom: solid #FFF 1px;
		}

	}

	.icon-breadcrumb {
		color: #444;
		padding: 0 4px;
	}

	.breadcrumb-item-current {
		color: darken($darkGreen, 7);
		
	}
}