.category-title {
   height: auto;
   .category-name {
      float: left;
   }

   .category-pagination {
      float: right;
   }
}


.category-name {
   // color: $darkGreen;
   // font-weight: bold;
   // font-size: 30px;
   // margin-top: 6px;
   // padding: 4px;
}