header {
  height: 140px;
  padding: .5em;
  background-color: $darkGreen;
  border-top: $orangeTone solid .125em;
  border-bottom: #FFF solid .125em;
  
  .logoContainer {
    display: inline-block;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    float: left;

    .logo {
      max-width: 192px;
      max-height: 120px;
      display: inline-block;
    }
  }  
  
  .searchContainer {
    display: inline-block;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    float: left;

    .search {
      $borderRadius: 25px; 
      padding: 2px;
      background-color: #fff;
      border-radius: $borderRadius;
      height: 34px;
      box-sizing: border-box;
      width: 80%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto; 

      .iconAndInput {
          display: inline-block;
          background-color: none;
          border: none;
          float: left;
      }

      .icon {
          color: $orangeTone;
          display: inline-block;
          font-size: 20px;
          padding-right: 8px;
          padding-left: 6px;
          margin-top: 3px;

      }

      .input {
          display: inline-block;
          height: 30px;
          border: none;
          font-size: 20px;
          font-style: italic;
          color: #FF7300;
          width: 9em;

          //transition: width .35s ease-in-out;
           
      }

      // .input:focus {
      //  width: 120%;
      // }


      .button {
          background-color: $orangeTone;
          color: #FFF;
          border: none;
          border-radius: $borderRadius;
          height: 30px;
          padding-left: 10px;
          padding-right: 10px;
          float: right;
      }

      .button:hover {
          background-color: darken($orangeTone, 3);
      }
    }
  }  

  .customerContainer {
    display: inline-block;
    height: 100%;
    width: 25%;
    float: left;
    
    nav.customerStatus {
      color: #FFF;
      float: right;

      li {
        display: inline;
        font-weight: bold;

        a {
          color: #FFF;
          text-decoration: none;
          text-shadow: 1px 1px 1px black;

          &:hover {
            border-bottom: $orangeTone solid .125em;    
          }
        }
      }  
    }  

    .cart {
      float: right;
      clear: right;
      margin-right: 20px;
      margin-top: 10px;

      .cart-art {
        position: relative;
        
        .image {
          width: 70px;
          height: 70px;
        }   

        .tag {
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;
          width: 20px;
          height: 20px;
          background-color: #FF7300;
          color: #FFF;
          border-radius: 4px;
          font-size: 13px;
          font-weight: bold;
        }
      }

      .price {
        text-align: center;
        font-size: 12px;
        font-style: italic;
        font-weight: lighter;
        margin-top: 3px;
        color: #FFF;
        border-radius: 50px;
      }
    }// cart
  } // customerContainer
}// header      
    
      
  

  


  
