.aaa {
	background: RGBA(255, 115, 0, 0.7);
	color: white;
}

.myCategories {
	display: inline-block;
	padding: 8px 12px;
	padding-bottom: 4px;
	width: 100%;
	font-size: 130%;
	font-weight: bold;
	background: $darkGreen;
}

.category-items {
	background: white;
}

.myLinks {
	width: 100%;
	padding: 10px 20px;
	border-bottom: solid $darkGreen 1px;
	color: $orangeTone;
}

.myLinks:last-child {
	border: none;
}

.mbDivider {
	height: 1px;
	background: $darkGreen;
	margin-left: 18px;

}

.mbDivider:last-child {
	display: none;
}