/**
 * Newsletter
 */

.mbNewsTitle {
	display: none;
}

.news {
	height: 50px;
	background-color: $orangeTone;
	padding: 8px;
	position: relative;

	&:before {
		content: "";
		background-image: url(../img/letter.svg);
		background-size: 80% 80%;
		background-position: center;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.button,
	.email {
		height: 34px;
		border-radius: .125rem;
	}

	.button {
		background-color: #00ae00;
		float: right;
		color: #FFF;
		font-weight: bold;
		padding-left: 8px;
		padding-right: 8px;
		border: white solid 2px;

	}

	.email {
		width: calc(100% - 550px);
		float: right;
		margin-right: 10px;
		text-align: center;
		color: green;
		transition: box-shadow 0.25s linear;
		min-width: 300px;
		font-size: 16px;

		&:focus {
			box-shadow: 0 0 .125rem .125rem #00ae00;
		}
	}

	.phrase {
		color: white;
		float: right;
		margin-right: 15px;
		font-size: 1rem;
		position:  relative;
		top: 6px;
	}
}


@media (max-width: 767px) {
	.phrase {
		display: none;
	}

	.mbNewsTitle{
		display: block;
		text-align: center;
		font-size: 12px;
		background-color: #FFF;
		color: #1684FF;
		padding: 5px;
	}

	.news .email {
		float: right;
		font-size: .75em;
		width: calc(100% - 190px);

		@media (max-width: 450px) {
			min-width: 250px;
		}

		@media (max-width: 410px) {
			min-width: 200px;
		}

		@media (max-width: 350px) {
			min-width: 170px;
		}

		@media (max-width: 320px) {
			min-width: 150px;
			font-size: 0.625em;
		}

		@media (max-width: 300px) {
			min-width: 130px;
			font-size: 0.525em;
		}

		@media (max-width: 280px) {
			min-width: 110px;
			font-size: 0.5em;
		}
	}
}


