/**
 * Newsletter
 */

.news-button {
    background: $primaryColor;
    color: #fff;
    font: 300 1em $primaryFont;
    text-transform: uppercase;

    &:hover {
        background: #000;
        color: #fff;
    }
}
