 .showcase {
 	text-align: center;
	float: left;
	padding: 40px;
}

.showcase-title {
   font: bold 1.4rem $primaryFont;
   font-weight: lighter;
   color: white;
   text-align: center;
	padding: 2rem auto;
}

.products_row {
	display: flex;
	justify-content: space-between;
}

.products_row ~ .products_row {
	margin-top: 40px;
}

.singleProduct {
    background-color: white;
    max-width: 31%;
    border: solid 1px rgb(204, 204, 204);
    border-radius: 10px;
    padding: 10px;
}

// .singleProduct:nth-of-type(2n + 0) {
//     margin-left: 3.5%;
//     margin-right: 3.5%;
// }

.singleProduct-buyButton {
    margin: auto;
    margin-bottom: 0;
}










