 .showcase {
	float: left;
	padding: 40px;
}

.products_row {
	display: flex;
	justify-content: space-between;
}

.products_row ~ .products_row {
	margin-top: 40px;
}

.singleProduct {
    background-color: white;
    max-width: 31%;
    border: solid 1px rgb(204, 204, 204);
    border-radius: 10px;
    padding: 10px;
    color: #333;
    text-align: center;
}

.wrapper-singleProductContent {
	display: flex;
}

.singleProductContent {
	
}

.singleProduct-fullPrice {
	color: $orangeTone;
}
.product-price {
	text-align: left;
}

.singleProduct-buyButton {
	background-color: #ccc;
	width: 100%;
	display: block;
}











