html {
	font-size: 100%;
}

body {
   background: white; // white
   color: $primaryColor;
   font-family: 'Roboto', sans-serif;
}

.outerContainer {
   float: left;
   width: 100%;
}

.outerContent {
   display: block;	
   width: 90%; 
   max-width: 1024px;
   margin: 0 auto;
}

.clear {
	clear: both;
}

