/*
 * Tray Commerce Reset
 */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

// to override tray.min.css where there was a dotted bottom border
p {
	border: none;
}

ol, ul, li {
	list-style: none;
}

