<div class="outerContainer">
   <div class="outerContent">

      {% if breadcrumb %}

          <div class="category-breadcrumb">
              {% element 'snippets/breadcrumb' %}
          </div>

      {% endif %}
      <div class="category-title">
         <h1 class="category-name">{{ category.name }}</h1>

         <div class="category-pagination">
            {% element 'snippets/pagination' %}
         </div>
      </div>
      <div class="clear"></div>
      <h5 class="separator-seventyFive"></h5>

      {% if products|length > 0 %}

          <div class="vspace-sm">
              {% element 'snippets/filter' {
                  'brands': category.brands
              } %}
          </div>


          <div class="vspace-sm">
              {% element 'snippets/showcase' {
                  "products": products
              } %}
          </div>

          <div class="vspace-sm">
              {% element 'snippets/pagination' %}
          </div>

      {% else %}

          <p>Nenhum produto encontrado nessa categoria.</p>

      {% endif %}
   </div>
</div>